{{- define "content" -}}
<div id="dowebok" class="fader">
    <img class="slide" src="http://www.dowebok.com/demo/222/images/img1.jpg">
    <img class="slide" src="http://www.dowebok.com/demo/222/images/img2.jpg">
    <img class="slide" src="http://www.dowebok.com/demo/222/images/img3.jpg">
    <div class="fader_controls">
        <div class="page prev" data-target="prev">&lsaquo;</div>
        <div class="page next" data-target="next">&rsaquo;</div>
        <ul class="pager_list"></ul>
    </div>
</div>

  <section id="posts" class="posts"> 
    {{/* (index .Site.Paginate) */}}
    {{- $paginator := .Paginate (where (where .Data.Pages "Type" "post") ".Params.hiddenfromhomepage" "!=" true) }}
    {{- range $paginator.Pages -}}
      {{ .Render "summary" }}
    {{ end -}}
  </section>
  <!-- pagination -->
  <nav class="pagination">
    {{ with $paginator.Prev -}}
      <a class="prev" href="{{ .URL }}">
        <i class="iconfont icon-left"></i>
        <span class="prev-text">{{ T "prevPage" }}</span>
      </a>
    {{- end }}
    {{ with $paginator.Next -}}
      <a class="next" href="{{ .URL }}">
        <span class="next-text">{{ T "nextPage" }}</span>
        <i class="iconfont icon-right"></i>
      </a>
    {{- end }}
  </nav>
{{- end -}}